<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist Details</title>
    <link rel="stylesheet" href="/static/styles_details.css" />
  </head>
  <body>
    <header>
      <nav class="topbar">
        <div class="logo">Groupie Tracker</div>
        <a href="/">Back to Artists</a>
      </nav>
    </header>

    <div class="container">
      <div class="left-side">
        <h2 class="artist-name">{{.Artist.Name}}</h2>
        <img
          src="{{.Artist.Image}}"
          alt="{{.Artist.Name}}"
          class="artist-image"
        />
        <div class="artist-info">
          <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
          <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>
          <p>
            <strong>Members:</strong>
            {{range $index, $element := .Artist.Members}} {{if $index}},
            {{end}}{{$element}} {{end}}
          </p>
        </div>
      </div>

      <div class="right-side">
        <div class="tab-container">
          <button class="tab active" onclick="openTab(event, 'relations')">
            Relations
          </button>
          <button class="tab" onclick="openTab(event, 'dates')">Dates</button>
          <button class="tab" onclick="openTab(event, 'locations')">
            Locations
          </button>
        </div>

        <div id="relations" class="tab-content active">
          <h3>Relations</h3>
          <ul class="relations-list">
            {{range $location, $dates := .Relation.DatesLocations}}
            <li class="relation-item">
              <div class="relation-location">{{$location}}</div>
              <ul class="relation-dates">
                {{range $dates}}
                <li class="relation-date">{{.}}</li>
                {{end}}
              </ul>
            </li>
            {{end}}
          </ul>
        </div>

        <div id="dates" class="tab-content">
          <h3>Dates</h3>
          <ul>
            {{range .Date.Dates}}
            <li>{{.}}</li>
            {{end}}
          </ul>
        </div>

        <div id="locations" class="tab-content">
          <h3>Locations</h3>
          <ul>
            {{range .Location.Locations}}
            <li>{{.}}</li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
