<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/static/error.css" />
  </head>
  <body>
    <div class="background"></div>
    <div class="error-container">
      {{ if gt .StatusCode 0 }}
      <h1 class="error-code">{{ .StatusCode }}</h1>
      {{ end }}
      <p class="error-message">{{ .ErrMsg }}</p>
      <hr />
      <a href="/" class="back-button">Back to Homepage</a>
    </div>
  </body>
</html>
