<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/shortcuts.css" />
    <link rel="stylesheet" href="/static/animation.css" />

    <title>Shortcuts</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/" class="anchor-logo">Groupie Tracker</a>
        </div>

        <a href="/artists" class="back-to-artists">Back to Artists</a>
      </nav>
    </header>

    <div class="container">
      <div class="shortcuts-container">
        <h1>Keyboard Shortcuts</h1>
        <table class="shortcuts-table">
          <thead>
            <tr>
              <th>Command</th>
              <th>Purpose</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><kbd>H</kbd></td>
              <td>Navigate to Home page</td>
            </tr>
            <tr>
              <td><kbd>A</kbd></td>
              <td>Go to Artists page</td>
            </tr>
            <tr>
              <td><kbd>I</kbd></td>
              <td>Go to About page</td>
            </tr>
            <tr>
              <td><kbd>/</kbd></td>
              <td>Focus search bar</td>
            </tr>
            <tr>
              <td><kbd>ESC</kbd></td>
              <td>Go back to previous page</td>
            </tr>
            <!--  
            <tr>
              <td><kbd>Ctrl</kbd> + <kbd>H</kbd></td>
              <td>Toggle high contrast mode</td>
            </tr>
            -->
            <tr>
              <td><kbd>←</kbd> <kbd>→</kbd></td>
              <td>Navigate between artists (in grid view)</td>
            </tr>
            <tr>
              <td><kbd>↑</kbd> <kbd>↓</kbd></td>
              <td>Navigate search suggestions</td>
            </tr>
            <tr>
              <td><kbd>Enter</kbd></td>
              <td>Select current search suggestion</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--  
    <footer class="footer">
      <div class="contributors">
        <div class="title">
          <p>Contributors</p>
        </div>

        <div class="author-section">
          <div class="contributor">
            <a target="_blank" href="https://github.com/ombima56">Hillary</a>
          </div>

          <div class="contributor">
            <a target="_blank" href="https://github.com/Vincent-Omondi"
              >Vincent</a
            >
          </div>

          <div class="contributor">
            <a target="_blank" href="https://github.com/johneliud">John</a>
          </div>
        </div>
      </div>
    </footer>
    -->

    <script src="/static/shortcuts.js"></script>
    <!-- Ion-Icon Link -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
